*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.square {
  position: fixed;
  
  background: #A2DEEF;
  border-radius: 33px;

  width: 776px;
  height: 776px;
  z-index: -1;
}

.square--right {
  right: 0;
  top: 0;
  transform: translateX(50%) rotate(-60deg);
}

.square--right-top {
  right: 0;
  top: 0;
  transform: translateX(50%) rotate(-60deg) translateY(-110%) translateX(20%);

  background: rgb(233,244,246);
}

.square--right-bottom {
  right: 0;
  bottom: 0;
  transform: translateX(50%) rotate(-60deg) translateX(-50%);

  background: rgb(233,244,246);
}

.square--left {
  background: #19357C;
  transform: translateX(-50%) translateY(50%) rotate(-60deg);
  left: 0;
  top: 0;
}

.circle {
  position: relative;
  width: 89px;
  height: 89px;

  border-radius: 50%;

  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
}

.square--left .circle {
  left: 60%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.square--right .circle {
  left: 40%;
  transform: translateX(-50%) translateY(-50%);
}

.dreampire {
  margin-left: 10em;
  margin-top: 10em;
}

.paragraph {
  margin: 0.7em 0;
  font-weight: 400;
  font-size: 14px;
  color: #242424;
  line-height: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 200px;
}

main h1 {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}

main p {
  text-align: center;
}

.back {
  text-align: center;
  margin-bottom: 2em;
  
}

.back__text {
  margin-top: 4em;
  margin-bottom: 1.5em;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  font-family: 'Roboto', sans-serif;
}

.counter__numb {
  font-weight: 700;
  font-size: 40px;
}

.counter__text {
  font-weight: 500;
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  margin-top: 6em;
  background: #242424;
  padding: 3em 4em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #98A2B3;
  font-family: 'Roboto', sans-serif;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.contact {
  display: flex;
  align-items: center;
}

.contact > div {
  display: flex;
  align-items: center;
  margin: 0 1.5em;
}

.contact svg {
  margin-right: 1em;
  flex-shrink: 0;
}

@media screen and (max-width: 1100px) {
  .square {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 0 0.5em;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .dreampire {
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
  }

  footer, .contact {
    flex-direction: column;
  }

  .contact > div {
    margin: 0.5em;
  }
}